// Выпадающий список
mixin drop-down(text, className, elementsList)
  button.drop-down(class= className ? className : "", type="button")
    p.drop-down__text= text
    .drop-down__img
      if className
        img.svg(src="@img/svg/arrow-right-thin.svg", alt="")
      else
        img.svg(src="@img/svg/drop-down.svg", alt="")
  if elementsList
    ul.drop-down__list
      each element in elementsList
        li.drop-down__list-item= element.text

// Кнопка "Подробнее" со стрелкой
mixin more-btn-arrow(text, url, className)
  a(href= url, class= className ? className : "").more-btn-arrow
    p.more-btn-arrow__text= text
    img.more-btn-arrow__img.svg(src="@img/svg/arrow-right-thin.svg", alt="")

// Кнопка "Подробнее" с обводкой
mixin more-btn-border(text, url, className, speed)
  a(href= url, class= className ? className : "", data-speed= speed ? speed : "").more-btn-border= text

// Поиск
mixin search(text, className)
  form.search(role="search", class= className ? className : "")
    input.search-input(type="search", name="search" placeholder= text, required, minlength="4")
    button.search-btn
      img.search-btn__img.svg(src="@img/svg/search.svg", alt="Поиск")

// Навигация
mixin navigation(list)
  ul.navigation
    each element in list
      li.navigation__item
        a.navigation__item-link(href= element.url)= element.text

// Аккордеон
mixin accordion(list, className, navLinkClassName)
  ul.accordion(class= className ? className : "")
    each element in list
      li.accordion-item(class= element.active ? "accordion-item__active" : "")
        a.accordion-item__trigger(
          href= element.url,
          data-type= element.data_type ? element.data_type : "",
          data-target= element.target ? element.target : ""
          )= element.text
        if element.items
          ul.accordion-item__content
            each item in element.items
              li.accordion-item__content-item
                a.accordion-item__content-link(href= item.url, class= navLinkClassName ? navLinkClassName : "")= item.title

// Результаты поиска
mixin result(list, className, linkClass)
  .result(class= className ? className : "")
    .result-title
      span.result-title__description= list.title.description
      span.result-title__category= list.title.category
      button.result-title__year
        span.result-title__year-text= list.title.year
        img.result-title__year-img.svg(src="@img/svg/drop-down.svg", alt="")
    ul.result-list
      each element in list.items
        if element.category == "Закон"
          li.result-item.result-item__law
            .result-item__description
              p.result-item__description-text= element.description
              +more-btn-arrow("Читать подробнее", element.url, "result-item__description-more "+linkClass)
            p.result-item__category= element.category
            p.result-item__year= element.year
        else if element.category == "Справка"
          li.result-item.result-item__info
            .result-item__description
              p.result-item__description-text= element.description
              +more-btn-arrow("Читать подробнее", element.url, "result-item__description-more "+linkClass)
            p.result-item__category= element.category
            p.result-item__year= element.year
        else
          li.result-item
            .result-item__description
              p.result-item__description-text= element.description
              +more-btn-arrow("Читать подробнее", element.url, "result-item__description-more "+linkClass)
            p.result-item__category= element.category
            p.result-item__year= element.year

// Бегущая строка
mixin marquee(text, className)
  .marquee(class= className ? className : "")
    h1.marquee__text= text

// Кнопка "Вернуться назад"
mixin button-back(text, url, className)
  a.button-back(href= url, class= className ? className : "", data-type="js-btn-back")
    .button-back__circle
      img.button-back__circle-img.svg(src="@img/svg/pagination-arrow.svg", alt="Back")
    span.button-back__text= text

// Пагинация по страницам
mixin pagination(className)
  .pages-pagination(class= className ? className : "")
    button.pages-pagination__button.pages-pagination__button-prev
      img.pages-pagination__button-img.svg(src="@img/svg/pagination-arrow.svg", alt="Prev")
    .pages-pagination__items
      .pages-pagination__items-bg
      button.pages-pagination__item.pages-pagination__item-current 1
      button.pages-pagination__item 2
      button.pages-pagination__item 3
      button.pages-pagination__item 4
      button.pages-pagination__item 5
      span.pages-pagination__dots ...
      button.pages-pagination__item.pages-pagination__item-all 8
    button.pages-pagination__button.pages-pagination__button-next
      img.pages-pagination__button-img.svg(src="@img/svg/pagination-arrow.svg", alt="Next")

// Селектор даты
mixin datepicker(placeholder, className, id, datepicker_type, date_format)
  .filters-date(class= className ? className : "")
    input.filters-date__input(
      id= id,
      type="text",
      name="daterange",
      placeholder= placeholder,
      autocorrect="off",
      autocomplete="off",
      data-type="js-datepicker",
      data-datepicker-type= datepicker_type ? datepicker_type : "",
      data-date-format= date_format ? date_format : ""
    )
    label(for= id) 
      img.filters-date__img.svg(src="@img/svg/calendar.svg", alt="")