.loader.hidden
  .loader__content
    .logo
      span.logo-title EmiratesLaw
      span.logo-subtitle Real Help
    .loader__circle
      svg.progress-ring(viewBox="0 0 500 500")
        circle.progress-ring__circle(
          fill="transparent"
          stroke="white"
          stroke-width="2"
          cx="250"
          cy="250"
          r="249"
          style="display: none;"
        )